
<div class="list-books">

<ol>
<h4>1. CSS & HTML: 8</h4>
<li> Learn to Code HTML and CSS B/A <%= link_to "Link" %></li>
<li> Build the Right Way HTML and CSS <%= link_to "Link" %></li>
<li> Essential Guide HTML and CSS <%= link_to "Link" %></li>
<li> Pro HTML/CSS Design Patterns <%= link_to "Link" %></li>
<li> Colors, Backgrounds, and Gradients: Adding Individuality with CSS <%= link_to "Link" %></li>
</ol>
<hr>

<ol>
<h4>2. Responsive Web Design: 10 - 1 month</h4>
<li> Responsive Web Design with HTML5 and CSS <%= link_to "Link" %> </li>
<li> Mastering Responsive Web Design HTML5 and CSS <%= link_to "Link" %> </li>
<li> Learning Susy <%= link_to "Link" %> </li>
<li> Unraveling Flexbox <%= link_to "Link" %> </li>
<li> Sketching with CSS <%= link_to "Link" %> </li>
<li> Practical jQuery <%= link_to "Link" %> </li>
<li> Mastering jQuery <%= link_to "Link" %> </li>
<li> Learning jQuery <%= link_to "Link" %> </li>
<li> Responsive Web Design Patterns <%= link_to "Link" %> </li>
<li> Responsive Web Design Frain <%= link_to "Link" %> </li>
<li> jQuery in Action <%= link_to "Link" %> </li>
<li> jQuery Succinctly <%= link_to "Link" %> </li>
</ol>
<hr>

<ol>
<h4>3. Git/ST/Linux: 6 - 1 month</h4>
<li> Pro Git <%= link_to "Link" %> </li>
<li> Git Tower <%= link_to "Link" %> </li>
<li> Goal Orientated Git <%= link_to "Link" %> </li>
<li> Just enough Git, TE, CL <%= link_to "Link" %> </li>
<li> Sublime Productivity <%= link_to "Link" %> </li>
<li> SublimeTextBook.com <%= link_to "Link" %> </li>
<li> The Mac Command Line with Terminal <%= link_to "Link" %> </li>
<li> The Linux Command Line <%= link_to "Link" %> </li>
</ol>
<hr>

<ol>
<h4>4. Rails 2 Times Each (Do 1st): 4 - 1 month</h4>
<li> Rails Tut - Hartl <%= link_to "Link" %></li>
<li> Rails in Action - Katz <%= link_to "Link" %></li>
<li> Agile Web Dev - DHH <%= link_to "Link" %></li>
<li> Rails 4 Way - Fernandez <%= link_to "Link" %></li>
</ol>
<hr>

<ol>
<h4>5. Rails2: 5 - 1 month</h4>
<li>Easy Active Record <%= link_to "Link" %> </li>
<li> Coding Your own ROR App Winstagram API <%= link_to "Link" %> </li>
<li> APIS on Rails Softcover <%= link_to "Link" %> </li>
<li> Mastering Modern Payments <%= link_to "Link" %> </li>
<li> Rails Guides <%= link_to "Link" %> </li>
<li> Learning Devise for Rails <%= link_to "Link" %> </li>
<li> Fearless Controller Refactoring <%= link_to "Link" %> </li>
<li> Restful Rails Development <%= link_to "Link" %> </li>
<li> Growing Rails Applications in Practice <%= link_to "Link" %> </li>
<li> Crafting Rails 4 Applications <%= link_to "Link" %> </li>
<li> Rails Angular Postgres Bootstrap <%= link_to "Link" %> </li>
<li> GeoCoding on Rails <%= link_to "Link" %> </li>
<li> Ruby Science <%= link_to "Link" %> </li>
<li> Ruby Pickaxe, 1 Confident Ruby, 1 POODR <%= link_to "Link" %> </li>
<li> Testing Rails <%= link_to "Link" %> </li>
<li> Ruby on Rails 5 for AutoDidacts <%= link_to "Link" %> </li>
<li> Multitenancy with Rails <%= link_to "Link" %> </li>
<li> Everyday Rails Testing with RSpec <%= link_to "Link" %> </li>
<li> RSPEC Book <%= link_to "Link" %> </li>
<li> Reliably Deploying Rails Applications <%= link_to "Link" %> </li>
<li> Component Based Rails Applications <%= link_to "Link" %> </li>
<li> ROR for front end developers <%= link_to "Link" %> </li>
<li> Rails 4 App Development Hotshot <%= link_to "Link" %> </li>
<li> Responsible Rails <%= link_to "Link" %> </li>
<li> Modular Rails <%= link_to "Link" %> </li>
</ol>
<hr>

<ol>
<h4>6. Some Basics (Do 2nd): 4 - 1 month</h4>
<li> Upcase: Trail <%= link_to "Link" %> </li>
<li> GoRails: Vids <%= link_to "Link" %> </li>
<li> Rails Guides <%= link_to "Link" %></li>
<li> Rails Apps <%= link_to "Link" %></li>

<li> Go Rails <%= link_to "Link" %></li>
<li> Upcase <%= link_to "Link" %></li>
<li> W3C Schools <%= link_to "Link" %></li>
<li> Scotch.io <%= link_to "Link" %></li>
</ol>
<hr>

<ol>
<h4>7.Rails and JS</h4>
<li> Rails meets React.js <%= link_to "Link" %> </li>
<li> Eloquent Javascript <%= link_to "Link" %> </li>
<li> Javascript and Json Essentials <%= link_to "Link" %> </li>
<li> Angular JS + Rails <%= link_to "Link" %> </li>
<li> Vic Ramon Ember.js Rails <%= link_to "Link" %> </li>
</ol>

</div>
