

<ol>
<h4>1. CSS & HTML: 8</h4>
<li>1g Learn to Code HTML and CSS B/A [x]</li>
<li>1p Build the Right Way HTML and CSS [x]</li>
<li>1p Essential Guide HTML and CSS [x]</li>
<li>1p Pro HTML/CSS Design Patterns [x]</li>
<li>1p Colors, Backgrounds, and Gradients: Adding Individuality with CSS [x]</li>
</ol>
<hr>

<ol>
<h4>2A. Responsive Web Design: 10 - 1 month</h4>
<li>1p Responsive Web Design with HTML5 and CSS [x]</li>
<li>1gp Mastering Responsive Web Design HTML5 and CSS [x]</li>
<li>1 Learning Susy [ ]</li>
<li>1 Unraveling Flexbox [ ]</li>
<li>1 Sketching with CSS [ ]</li>
<li>1 Practical jQuery [ ]</li>
<li>1 Mastering jQuery [ ]</li>
<li>1 Learning jQuery [ ]</li>
<li>1 Responsive Web Design Patterns [ ]</li>
<li>1 Responsive Web Design Frain [ ]</li>
<li>1 jQuery in Action [ ]</li>
<li>1 jQuery Succinctly [ ]</li>
</ol>
<hr>

<ol>
<h4>3. Git/ST/Linux: 6 - 1 month</h4>
<li>1 Pro Git [ ]</li>
<li>1 Git Tower [ ]</li>
<li>1 Goal Orientated Git [ ]</li>
<li>1 Just enough Git, TE, CL [ ]</li>
<li>1 Sublime Productivity [ ]</li>
<li>1 SublimeTextBook.com [ ]</li>
<li>1 The Mac Command Line with Terminal [ ]</li>
<li>1 The Linux Command Line [ ]</li>
</ol>
<hr>

<ol>
<h4>4. Rails 2 Times Each (Do 1st): 4 - 1 month</h4>
<li>1p Rails Tut - Hartl [ ] [ ]</li>
<li>1 Rails in Action - Katz [ ] [ ]</li>
<li>1p Agile Web Dev - DHH [ ] [ ]</li>
<li>1 Rails 4 Way - Fernandez [ ] [ ]</li>
</ol>
<hr>

<ol>
<h4>5. Rails2: 5 - 1 month</h4>
<li>1p Easy Active Record <%= link_to "Link" %> </li>
<li>1 Coding Your own ROR App Winstagram API <%= link_to "Link" %> </li>
<li>1 APIS on Rails Softcover <%= link_to "Link" %> </li>
<li>1 Mastering Modern Payments <%= link_to "Link" %> </li>
<li>1 Rails Guides <%= link_to "Link" %>  [ ]</li>
<li>1 Learning Devise for Rails <%= link_to "Link" %> </li>
<li>1 Fearless Controller Refactoring <%= link_to "Link" %> </li>
<li>1 Restful Rails Development <%= link_to "Link" %> </li>
<li>1 Growing Rails Applications in Practice <%= link_to "Link" %> </li>
<li>1 Crafting Rails 4 Applications <%= link_to "Link" %> </li>
<li>1 Rails Angular Postgres Bootstrap <%= link_to "Link" %> </li>
<li>1 GeoCoding on Rails [ ]</li>
<li>1 Ruby Science [ ]</li>
<li>1 Ruby Pickaxe, 1 Confident Ruby, 1 POODR [ ]</li>
<li>1 Testing Rails [ ]</li>
<li>1 Ruby on Rails 5 for AutoDidacts [ ]</li>
<li>1 Multitenancy with Rails [ ]</li>
<li>1 Everyday Rails Testing with RSpec [ ]</li>
<li>1 RSPEC Book [ ]</li>
<li>1 Reliably Deploying Rails Applications [ ]</li>
<li>1 Component Based Rails Applications [ ]</li>
<li>1 ROR for front end developers [ ]</li>
<li>1 Rails 4 App Development Hotshot [ ]</li>
<li>1 Responsible Rails [ ]</li>
<li>1 Modular Rails [ ]</li>
</ol>
<hr>

<ol>
<h4>6. Some Basics (Do 2nd): 4 - 1 month</h4>
<li>1 Upcase: Trail</li>
<li>2 GoRails: Vids</li>
<li>1 Rails Guides [ ]</li>
<li>1 Rails Apps [ ]</li>

<li>1 Go Rails [ ]</li>
<li>1 Upcase [ ]</li>
<li>1 W3C Schools [ ]</li>
<li>1 Scotch.io [ ]</li>
</ol>
<hr>

<ol>
<h4>7.Rails and JS</h4>
<li>1 Rails meets React.js </li>
<li>1 Eloquent Javascript </li>
<li>1 Javascript and Json Essentials </li>
<li>1 Angular JS + Rails </li>
<li>Vic Ramon Ember.js Rails </li>
</ol>
