<div class="list-links">
  <a href="">Ruby on Rails </a>
  <a href="">Elixir | Phoenix </a>
  <a href="">Javascript | React </a>
  <a href="">Node.js | Hapi.js </a>
</div>


<div class="list-books">

<ol>
<h4>1. CSS & HTML</h4>
<li> Learn to Code HTML and CSS B/A <%= link_to "Link", "http://learn.shayhowe.com/", target: "_blank" %> </li>
<li> Build the Right Way HTML and CSS <%= link_to "Link", "https://www.amazon.com/Build-Your-Website-Right-Using/dp/0987090852", target: "_blank" %> </li>
<li> Essential Guide HTML and CSS <%= link_to "Link", "http://www.apress.com/9781590599075", target: "_blank" %> </li>
<li> Pro HTML/CSS Design Patterns <%= link_to "Link", "http://www.apress.com/9781430237808", target: "_blank" %> </li>
<li> Colors, Backgrounds, and Gradients: Adding Individuality with CSS <%= link_to "Link", "http://shop.oreilly.com/product/0636920040859.do", target: "_blank" %> </li>
</ol>
<hr>

<ol>
<h4>2. Responsive Web Design</h4>
<li> Responsive Web Design with HTML5 and CSS <%= link_to "Link", "https://www.amazon.com/Responsive-Web-Design-HTML5-CSS3/dp/1849693188", target: "_blank" %> </li>
<li> Mastering Responsive Web Design HTML5 and CSS <%= link_to "Link", "https://www.packtpub.com/web-development/mastering-responsive-web-design", target: "_blank" %> </li>
<li> Learning Susy <%= link_to "Link", "http://learnsusy.zellwk.com/", target: "_blank" %> </li>
<li> Unraveling Flexbox <%= link_to "Link", "https://unravelingflexbox.com/", target: "_blank" %> </li>
<li> Sketching with CSS <%= link_to "Link", "http://www.sketchingwithcss.com/", target: "_blank" %> </li>
<li> Practical jQuery <%= link_to "Link", "http://www.apress.com/9781484207888", target: "_blank" %> </li>
<li> Mastering jQuery <%= link_to "Link", "https://www.packtpub.com/web-development/mastering-jquery", target: "_blank" %> </li>
<li> Learning jQuery <%= link_to "Link", "https://www.amazon.com/Learning-jQuery-Fourth-Jonathan-Chaffer/dp/178216314X", target: "_blank" %> </li>
</ol>
<hr>

<ol>
<h4>3. Git/Text Editor/Linux </h4>
<li> Pro Git <%= link_to "Link", "https://git-scm.com/book/en/v2", target: "_blank" %> </li>
<li> Git Tower <%= link_to "Link", "https://www.git-tower.com/learn/", target: "_blank" %> </li>
<li> Goal Orientated Git <%= link_to "Link", "https://thoughtbot.com/goal-oriented-git-sample.pdf", target: "_blank" %> </li>
<li> Just enough Git, TE, CL <%= link_to "Link", "https://www.learnenough.com/web-development-fundamentals", target: "_blank" %> </li>
<li> SublimeTextBook.com <%= link_to "Link", "https://sublimetextbook.com/", target: "_blank" %> </li>
<li> The Mac Command Line with Terminal <%= link_to "Link", "https://www.amazon.com/Mac-OS-Command-Line-Under/dp/0782143547", target: "_blank" %> </li>
<li> The Linux Command Line <%= link_to "Link", "http://linuxcommand.org/tlcl.php", target: "_blank" %> </li>
</ol>
<hr>

<ol>
<h4>4. Ruby on Rails Foundation</h4>
<li> Rails Tut - Hartl <%= link_to "Link", "https://www.railstutorial.org/", target: "_blank" %></li>
<li> Rails in Action - Katz <%= link_to "Link", "https://www.manning.com/books/rails-4-in-action", target: "_blank" %></li>
<li> Agile Web Dev - DHH <%= link_to "Link", "https://pragprog.com/book/rails4/agile-web-development-with-rails-4", target: "_blank" %></li>
<li> Rails 4 Way - Fernandez <%= link_to "Link", "https://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321944275", target: "_blank" %></li>
</ol>
<hr>

<ol>
<h4>5. Ruby on Rails Extended</h4>
<li> Learning Devise for Rails <%= link_to "Link", "https://www.amazon.com/Learning-Devise-Rails-Hafiz-Barie/dp/1782167048", target: "_blank" %> </li>
<li> Fearless Controller Refactoring <%= link_to "Link", "http://rails-refactoring.com/", target: "_blank" %> </li>
<li> Restful Rails Development <%= link_to "Link", "http://shop.oreilly.com/product/0636920034469.do", target: "_blank" %> </li>
<li> Growing Rails Applications in Practice <%= link_to "Link", "https://leanpub.com/growing-rails", target: "_blank" %> </li>
<li> Crafting Rails 4 Applications <%= link_to "Link", "https://pragprog.com/book/jvrails2/crafting-rails-4-applications", target: "_blank" %> </li>
<li> Rails Angular Postgres Bootstrap <%= link_to "Link", "https://pragprog.com/book/dcbang/rails-angular-postgres-and-bootstrap", target: "_blank" %> </li>
</ol>
<hr>

<ol>
<h4>6. Some Basics</h4>
<li> Upcase: Trail <%= link_to "Link", "https://thoughtbot.com/upcase", target: "_blank" %> </li>
<li> GoRails: Vids <%= link_to "Link", "https://gorails.com/", target: "_blank" %> </li>
<li> Rails Guides <%= link_to "Link", "http://guides.rubyonrails.org/", target: "_blank" %></li>
<li> Rails Apps <%= link_to "Link", "http://railsapps.github.io/", target: "_blank" %></li>
<li> W3C Schools <%= link_to "Link", "http://www.w3schools.com/", target: "_blank" %></li>
<li> Scotch.io <%= link_to "Link", "https://scotch.io/", target: "_blank" %></li>
</ol>
<hr>

<ol>
<h4>7.Rails and JS</h4>
<li> Rails meets React.js <%= link_to "Link", "http://blog.arkency.com/rails-react/", target: "_blank" %> </li>
<li> Eloquent Javascript <%= link_to "Link", "http://eloquentjavascript.net/", target: "_blank" %> </li>
<li> Javascript and Json Essentials <%= link_to "Link", "https://www.packtpub.com/web-development/javascript-and-json-essentials", target: "_blank" %> </li>
<li> Angular JS + Rails <%= link_to "Link", "http://angular-rails.com/front.html", target: "_blank" %> </li>
</ol>

</div>
